*{
    margin: 0;
    font-family: Arail;
    border:border-box;
}
main{
    background-color: rgb(243, 238, 238);
}
.navbar{
    height: 60px;
    background-color:rgb(243, 122, 35);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navLogo{
    height: 50px;
    width: 100px;

}
#logo{
     height: 50px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
}
.border{
border:1px solid transparent;
}
.border:hover{
border: 1px solid white;
}
/*  box 2 text styling */
#add-first{
color: #f9f8f8;
font-size: 0.50 rem;
margin-left: 22px;
}
#add-second{
font-size: 1 rem;
margin-left: 3px;
}
.add-icon{
    display: flex;  
}

/* Box 3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    background-color: #f3f3f3;
}
.search-select{
    width: 120px;
    background-color: #f3f3f3;
    text-align: center;
    border:none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
   
}
.search-input{
    width:100%;
    font-size: 1.05rem;
    border:none;
}
#search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
}
.nav-search:hover{
    border:2px solid rgb(79, 78, 78)
}

/* Box 4 and 5 */
.nav-first{
    font-size: 0.1 rem;
}
.nav-second{
    font-size: 0.85 rem;
    font-weight: 700;
}
/* box 6 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-weight: 600;
    font-size: 0.90rem;
}

/* Panel after Navbar */
.panel{
    background-color:rgb(241, 155, 95);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel_ops p{
    display: inline;
    margin-left:15px;
}
.panel_ops{
     width: 70%;
    font-size: 0.9rem;
}
.panel-deals{
    font-size: 0.93rem;
    font-weight: 600;
}
.black_border{
    border:1px solid transparent;
}
.black_border:hover{
border: 1px solid black;
}
/* Hero-Section */
.hero-section{
    background-image: url("hero_section_pic.jpg");
    background-size: cover;
    height: 450px;  
}
/* shop-section */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(243, 238, 238);  */
    margin:10px;
    padding:10px;
}
.shop-section a{
    text-decoration: none;
    color: #007185;
    font-size:0.90rem;
}
.box{
    height: 420px;
    width:22%;
    background-color:white;
    color: black;
    margin:10px;
    padding:10px;
    display: flex;
    flex-wrap: wrap;    
    gap: 10px;
}
.box h2{
    margin-top: 15px;
}

.box1_img{
     background-color: #ccc;
    height: 110px;
    width: 48%;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  
}
.One-Image{
height: 420px;
    width:22%;
    background-color:white;
    color: black;
    margin:10px;
    padding:10px;
    display: flex;
    flex-wrap: wrap;    
    gap: 10px;
}
.box_content{
margin-top: 1rem;
margin-bottom: 1rem;
}
.box4_img{
    height: 280px;
    width: 260px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}
/* OFFER SECTION */
.offer-section{
    height: 230px;
    width: 94%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    position: relative;
    left:15px;
    display:flex;
    flex-wrap: nowrap;

}
.heading-part{
    position: relative;
    margin-top: 10px;
    
}
.offer-pic{
    height: 200px;
    width: 98%;
    background-color:white;
    position: absolute;
    top:50px;
    display: flex;
}
.offer_pic1{
    height: 160px;
    width: 110px;
    background-color:white;
    margin: 10px;
    padding:10px;
    background-size: cover;
}
.offer-section2{
    height: 270px;
    width: 93%;
    background-color: white;
    margin: 10px;
    padding: 15px;
    position: relative;
    left:15px;
    display:flex;
    flex-wrap: nowrap;

}
.offer_pic2{
    height: 160px;
    width: 210px;
    background-color:white;
    margin: 10px;
    padding:10px;
    background-size: cover;
}
.offer_section_pic1{
    height: 110px;
    width: 210px;
     margin-left: 30px;
     margin-right: 30px;
}
.offer_section_pic2{
    height: 170px;
    width: 190px;
     margin-left: 30px;
     margin-right: 30px;
}
.offer_section_pic3{
    height: 180px;
    width: 80px;
    margin-left: 30px;
     margin-right: 30px;
}
.offer_section_pic4{

    margin-left: 30px;
     margin-right: 30px;
}

.offer_section_pic5{
    height: 200px;
    width: 50px;
    margin-left: 35px;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    height: 50px;
    background-color:#37475a;
    color: white;
    font-size: 0.90rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    color: #dddddd;
    margin-top: 10px;
    font-size: 0.9rem;
}
.foot-panel3{
    height: 80px;
    border-top: 0.5px solid white;
    background-color:#222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
 background-image: url("amazon_logo.png");
    background-size: cover;
     height: 50px;
     width: 100px;
}
.foot-panel4{
    background-color:#0f1111e4;
    color: white;
    height: 40px;
    font-size: 0.80rem;
    text-align: center;
    padding:25px;
}
.pages a{
    margin-left: 10px;
}
.copyright{
    padding-top:5px;
}